<!DOCTYPE html>
<html lang="zh-CN">
  <%# html头 %>
  <%- partial('_partial/head') %>

  <body>

    <%# svg精灵 %>
    <%- partial('_partial/svg-symbols', null, { cache: true }) %>

    <%# Algolia搜索弹窗 %>
    <div class="algolia-modal-overlay" id="searchModal">
      <div class="algolia-dialog">
        <div class="algolia-dialog-header">
          <div class="algolia-dialog-title">博客内容搜索</div>
          <button class="close-btn" id="closeSearch">&times;</button>
        </div>
        <div class="algolia-dialog-body">
          <div class="search-container">
            <!-- 搜索框将在这里渲染 -->
            <div id="searchbox"></div>
          </div>

          <!-- 搜索结果容器 -->
          <div id="hits"></div>

          <!-- 分页容器 -->
          <div id="pagination"></div>
        </div>
      </div>
    </div>

    <div id="container" class="container">

      <%# 页头 %>
      <%- partial('_partial/header') %>

      <div class="row g-5">

        <%# 左侧 %>
        <div class="col-md-8">
          <%- body %>
        </div>

        <%# 右侧 %>
        <div class="col-md-4">
          <%# 使用缓存 %>
          <%- partial('_partial/sidebar') %>
        </div>

      </div>

      <%# 页脚 %>
      <%- partial('_partial/footer', null, { cache: true }) %>

      <%# 底部脚本 %>
      <%- partial('_partial/after-footer') %>

    </div>
  </body>
</html>