<!DOCTYPE html>
<html lang="zh-CN">
  <%# html头 %>
  <%- partial('_partial/head') %>

  <body>

    <%# svg精灵 %>
    <%- partial('_partial/svg-symbols', null, { cache: true }) %>

    <div id="container" class="container">

      <%# 页头 %>
      <%- partial('_partial/header') %>

      <div class="row g-5">

        <%# 左侧 %>
        <div class="col-md-8">
          <%- body %>
        </div>

        <%# 右侧 %>
        <div class="col-md-4">
          <%# 使用缓存 %>
          <%- partial('_partial/sidebar') %>
        </div>

      </div>

      <%# 页脚 %>
      <%- partial('_partial/footer', null, { cache: true }) %>

      <%# 底部脚本 %>
      <%- partial('_partial/after-footer') %>

    </div>
  </body>
</html>