<%# 如果是首页 %>
<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', { post: post, index: true }) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
  <section class="archives-wrap">
    <div class="archive-year-wrap">
      <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
    </div>
    <div class="archives">
      <% } %>
      <%- partial('archive-post', { post: post, even: i % 2 == 0 }) %>
      <% }) %>
      <% if (page.posts.length){ %>
    </div>
  </section>
  <% } %>
<% } %>
<%# 如果页数超过1则分页 %>
<% if (page.total > 1){ %>
  <nav>
    <div class="pagination justify-content-center">
      <span class="page-item <%= page.prev ? '' : 'disabled' %>"><a class="page-link" href="/<%= page.prev_link %>">上一页</a></span>
      <% for (let i = 0;i < page.total;i++) { %>
        <span class="page-item">
          <a class="page-link <%= page.current === i + 1 ? 'active' : '' %>"
            href="<%= url_for(i === 0 ? '/' : `/page/${i + 1}`) %>"><%= i + 1 %></a>
        </span>
      <% } %>
      <span class="page-item <%= page.next ? '' : 'disabled' %>"><a class="page-link" href="/<%= page.next_link %>">下一页</a></span>
    </div>
  </nav>
<% } %>