<% if (post.layout === 'post'){ %>
  <%# 如果是索引页 %>
  <% if (index){ %>
    <div class="article-section border rounded mb-4 shadow-sm">
      <div class="article-top">
        <%# 分类 %>
        <% if (post.categories.length){ %>
          <strong class="d-inline-block mb-2 text-primary-emphasis">
            <%- post.categories.data[post.categories.data.length - 1].name %>
          </strong>
        <% } %>
        <%# 标题 %>
        <h3 class="article-title">
          <a href="<%- url_for(post.path) %>" class="text-decoration-none link-body-emphasis">
            <%= post.title %>
          </a>
        </h3>
        <%# 日期 %>
        <div class="article-date mb-1 text-body-secondary"><%= date(post.date, 'YYYY/MM/DD') %></div>
      </div>
      <div class="article-content">
        <%# 简介 %>
        <% if (post.excerpt) { %>
          <div class="article-excerpt card-text mb-auto">
            <%- post.excerpt %>
          </div>
          <%# 封面 %>
          <% if (post.thumbnail){ %>
            <div class="article-cover col-auto d-none d-lg-block" style="background-image: url(<%- url_for(post.thumbnail) %>);">
            </div>
          <% } %>
        <% } else { %>
          <div class="card-text mb-auto">
            <%- post.content %>
          </div>
        <% } %>
      </div>
      <%# 进入详情按钮 %>
      <% if (theme.excerpt_link){ %>
        <a href="<%- url_for(post.path) %>#more" class="btn-more icon-link gap-1 icon-link-hover">
          继续阅读
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      <% } %>
    </div>
  <% } else { %>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"><%= post.title %></h2>
      <p class="blog-post-meta"><%= date(post.date) %></p>
      <div id="blog-post-content">
        <%- post.content %>
      </div>
    </article>
  <% } %>
<% } %>